@page "/bookings/"

@inject HttpClient _client
@inject IJSRuntime js

@if(ElementsBookings == null){
    <Spinner/>
}
else
{
   <div class="form-group">
       <input class="form-control" type="text" placeholder ="filtr..." 
       @bind="FitrBox" 
       @bind:event="oninput" />
   </div>

    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Marki samochodów</h6>
        </div>
        <div class="card-body">
            <table class="table table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">TaxId</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in ElementsBookings)
                    {

                        if (!(IsVisible(booking)))
                            continue;
                        <tr>
                            <td>@booking.Customer.TaxId</td>
                            <td>@booking.DateCreated</td>
                            <td>
                                @((booking.DateIn - booking.DateOut).TotalDays.ToString());
                            </td>
                            <td>
                                <a href="/Bookings/view" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>

                                <a href="/bookings/details" class="btn btn-info">
                                <span class="fa fa-pencil"></span>    
                                </a>
                                <button class="btn alert-danger btn-circle btn-sm" @onclick="(()=> Delete(booking.Id))">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {

    private List<Booking>? ElementsBookings;
    public string FitrBox;

    protected override async Task OnInitializedAsync() => ElementsBookings = await _client.GetFromJsonAsync<List<Booking>>(Static.Endpoints.BookingsEndpoint);

    private bool IsVisible(Booking Booking)
    {

        if (string.IsNullOrEmpty(FitrBox))
            return true;

        if (Booking.Vehicle.LicensePlateNumber.Contains(FitrBox, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    private void Delete(int id)
    {
    }
}
