<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarRentManagment</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="vertical-center">

        <LoginDisplay />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-house-user" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kolors/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Kolors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="align-middle nav-link" href="makes/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Makes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="models/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Models
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicles/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Vehicles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings/">
                <span class="fas fa-angle-right" aria-hidden="true"></span> Bookings
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
