@page "/vehicles/"
@using System.Diagnostics

@inject HttpClient _Http
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-card-title">Vehicules</h3>

<div class="card shadow mb-4">
    <a href="/vehicles/create" class="btn btn-secondary">
        <span class="oi oi-plus">
            Create new vehicle
        </span>
    </a>
</div>



@if (Elements == null)
{
    <div class="alert alert-info">Loading....</div>
}
else
{
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
        @bind="Filter"
        @bind:event="oninput">
    </div>
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Marki samochodów</h6>
        </div>
        <div class="card-body">
            <table class="table table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Dialy rent</th>
                        <th scope="col">Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Elements)
                    {

                        if (!IsVisible(vehicle))
                        {
                            continue;
                        }
                        <tr>
                            <td>@vehicle.Make.Name</td>
                            <td>@vehicle.Model.Name</td>
                            <td>@vehicle.Year</td>
                            <td>@vehicle.RentalRate</td>
                            <td>
                                <a href="/Vehicless/view" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-truck-pickup"></i>
                                </a>
                                <a href="/Vehicles/edit" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button class="btn alert-danger btn-circle btn-sm" @onclick="(()=> Delete(vehicle.Id))">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private List<Vehicle>? Elements ;
    public string? Filter { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Elements = await _Http.GetFromJsonAsync<List<Vehicle>>(Static.Endpoints.VehiclesEndpoint);
    }

    private async Task Delete(int id)
    {
        try
        {
            var confirm = await js.InvokeAsync<bool>("confirm", "Do you want delete?");
            if (confirm)
            {
                var back = await _Http.DeleteAsync($"api/Vehicless/{id}");
                await OnInitializedAsync();
            }
        }
        catch(Exception)
        {
            
        }

    }

    public bool IsVisible(Vehicle vehicle)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if(vehicle.Model.Name != null)
        if (vehicle.Model.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}